*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    font-size: 100%;
    display: block;
}

img
{
    height: 160px;
    width: 150px;
}

a
{
    color: white
}

.nav-bar
{
    display: flex;
    flex-direction:column;
    z-index: 1;
    background-color: rgb(138, 98, 61);
    padding: 1rem 2rem;
    position:sticky;
    height: 100%;
    max-width: 250px; 
    text-align: center;
    overflow: auto;
    position: fixed;
    top:0;
    left:0;
}

/* width */
::-webkit-scrollbar {
    width: 1px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #021a69;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(12, 53, 92);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(13, 53, 105);
  }


.nav-bar h1
{
    font-size: 1.5rem;
    color: white;
}

.profile img
{
   height: 250px;
   width: 100%;
   object-fit:cover;
   object-position: 50% 50%;
   border-radius: 50%;
}

.profile img, h1, a
{
    padding: 1rem 0;
}

.links
{
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    cursor: pointer;
}

.links a
{
    padding: 1rem;
    font-size: 1.5rem;
    transition: 0.3s;
}

.links a:hover
{
    color:rgb(236, 137, 8);
    font-size: 2rem;
}

.social-media
{
    display:flex;
    flex-direction: column;
    font-size: 2rem;
}

.social-media a
{
    transition: 0.3s;
}

.social-media a:hover
{
    color:rgb(236, 137, 8);
    font-size: 3rem;
}

/***********************************/

.sections
{
    margin-left: 280px;
    height: auto;
    position: relative;
}

